.todo-list {
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
}
.todo-list > ul > li {
  align-items: center;
  font-size: 24px;
  padding-left: 6px;
  display: flex;
  justify-content: space-between;
}
.todo-list > ul > li:hover {
  background-color: rgb(211, 211, 211);
  width: 100%;
  border-radius: 10px;
}

.clear {
  color: red;
}
.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  place-items: center;
  height: 100vh;
}
.modal-body {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
}
.modal-title > h1 {
  color: #304ede;
  font-size: 32px;
  font-weight: 400;
}
.modal-input {
  display: flex;
  align-items: center;
}
.modal-input > input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
  border: none;
}
.modal-input > .MuiSvgIcon-root {
  color: red;
  cursor: pointer;
}
.edit {
  color: #304ede;
}
.update {
  border: none;
  border-radius: 6px;
  background-color: #304ede;
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
  text-emphasis: none;
  font-weight: 600;
  font-size: 16px;
}
